{% extends "dashboard/dash_base.html" %}
{% load static %}
{% block body %}
                
                <div class="container mt-4">
                    <h2 class="mb-4"> pages </h2>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-icon">
                                <span>A</span>
                            </div>
                            <div class="card-icon-text-container">
                                <h5 class="card-title">About Us</h5>
                                <p class="card-meta">Published • 30 Jun 2021</p>
                            </div>
                            <div class="card-actions">
                                <p class="card-meta">Nawaj</p>
                                <i class="fas fa-share-alt"></i>
                                <span class="icon-text">0</span>
                                <i class="fas fa-comments"></i>
                                <span class="icon-text">555</span>
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-icon">
                                <span>C</span>
                            </div>
                            <div class="card-icon-text-container">
                                <h5 class="card-title">Contact us</h5>
                                <p class="card-meta">Published • 23 Oct 2020</p>
                            </div>
                            <div class="card-actions">
                                <p class="card-meta">Nawaj</p>
                                <i class="fas fa-share-alt"></i>
                                <span class="icon-text">0</span>
                                <i class="fas fa-comments"></i>
                                <span class="icon-text">3042</span>
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-icon">
                                <span>T</span>
                            </div>
                            <div class="card-icon-text-container">
                                <h5 class="card-title">Terms and Conditions</h5>
                                <p class="card-meta">Published • 23 Oct 2020</p>
                            </div>
                            <div class="card-actions">
                                <p class="card-meta">Nawaj</p>
                                <i class="fas fa-share-alt"></i>
                                <span class="icon-text">0</span>
                                <i class="fas fa-comments"></i>
                                <span class="icon-text">101</span>
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
{% endblock body %}
